/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
body
  font-size 18px
.home .hero img
  max-width 450px!important
.nav-link
  font-size 1.1rem
.site-name
  font-size 1.2rem
  //display none!important
//.navbar .links
//  position unset!important
//  display inline-flex!important
//  margin-left auto
.theme-default-content:not(.custom), .page-edit, .page-nav
  max-width 1140px!important
.sidebar-heading
  font-size 1em!important

.custom-page .theme-default-content
  max-width unset!important

img
  border-radius: 5px;

p
  line-height 1.4
  margin-top 14px
  margin-bottom 14px

@media screen and (max-width: 1200px)
  .logo
    display none!important

@media screen and (max-width: 1030px) and (min-width: 720px)
  .site-name
    display none!important

@media screen and (max-width: 720px)
  .site-name
    display block!important

